#login-area {
    flex-basis: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#try-free {
    width: 80%;
    background-color: hsl(248, 32%, 49%);
    padding: 1rem;
    border-radius: 10px;
    box-shadow:  0 7px 0px hsl(249, 10%, 26%, 30%);
    margin-bottom: 1.5rem;
}

#try-free p {
    text-align: center;
    color: white;
}

form {
    background-color: white;
    width: 80%;
    min-height: 415px;
    border-radius: 10px;
    box-shadow:  0 7px 0px hsl(249, 10%, 26%, 30%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.9rem 0 0.9rem 0;
}

input {
    width: 85%;
    padding: 0.9rem;
    padding-left: 1.4rem;
    padding-right: 4rem;
    margin-top: 0.9rem;
    outline: none;
    border: 1px solid hsl(246, 25%, 77%);
    border-radius: 5px;
    font-weight: 500;
}

input, input::placeholder {
    font-family:'Poppins', sans-serif;
    font-size: 0.9rem;
}

input::placeholder {
    font-weight: 600;
}

input:focus {
    border: 1px solid hsl(249, 10%, 26%);
}

button {
    width: 85%;
    padding: 0.9rem;
    font-size: 0.9rem;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
    color: white;
    margin-top: 1rem;
    background-color: hsl(154, 59%, 51%);
    border: none;
    border-radius: 5px;
    box-shadow:  0 4px 0px hsl(154, 59%, 43%);
    cursor: pointer;
}

button:hover {
    background-color: hsl(154, 59%, 51%, 60%);
}

form #terms {
    font-size: 0.65rem;
    color: hsl(246, 25%, 77%);
    font-weight: 500;
    margin-top: 1rem;
}

form #terms a {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
    text-decoration: none;
}

form #terms a:hover {
    text-decoration: underline;
}

form .error-text {
    display: none;
    color: hsl(0, 100%, 74%);
    font-size: 0.7rem;
    font-weight: 600;
    font-style: italic;
    margin-top: 0.2rem;
    margin-left: 15.65rem;
}

form .error-image {
    display: none;
    position: relative;
    bottom: 59px;
    left: 170px;
    margin-bottom: -20px;
}

@media (max-width: 1045px) {
    #login-area {
        flex-basis: 50%;
    }

    #try-free {
        width: 90%;
    }

    #try-free p {
        font-size: 0.75rem;
    }

    form {
        width: 90%;
        height: 400px;
    }

    input {
        width: 80%;
        padding: 0.6rem;
        padding-left: 1.1rem;
        padding-right: 2.8rem;
    }

    input, input::placeholder {
        font-size: 0.8rem;
    }

    button {
        width: 80%;
        padding: 0.6rem;
        font-size: 0.8rem;
    }

    form #terms {
        font-size: 0.55rem;
        text-align: center;
    }

    form .error-text {
        font-size: 0.58rem;
        margin-left: 5.5rem;
    }

    form .error-image {
        bottom: 56px;
        left: 98px;
        margin-bottom: -32px;
    }
}

@media (max-width: 720px) {
    
    #try-free {
        margin-bottom: 1.1rem;
    }

    form {
        min-height: 375px;
        height: auto;
        margin-bottom: 1.2rem;
    }

    input {
        padding-right: 3rem;
    }

    form #terms {
        width: 55%;
        margin-top: 0.6rem;
    }

    form .error-text {
        font-size: 0.53rem;
        margin-left: 9.43rem;
    }

    form .error-image {
        bottom: 56px;
        left: 96px;
        margin-bottom: -32px;
    }
}

@media (max-width: 425px) {
    #try-free {
        display: flex;
        justify-content: center;
    }
    
    #try-free p {
        width: 85%;
    }

    form .error-text {
        font-size: 0.56rem;
        margin-left: 6rem;
    }

    form .error-image {
        bottom: 56px;
        left: 98px;
    }

    form #terms {
        width: 80%;
        margin-top: 0.7rem;
    }

}